<a href="https://colab.research.google.com/github/amir1913/PUS2022_AMeydani/blob/main/labs/in_class_z_demo.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np

data = pd.read_csv('https://raw.githubusercontent.com/fedhere/PUS2022_FBianco/main/classdemo/times.txt')

In [7]:
data

    31.62223931
0     32.821376
1     30.229101
2     31.413766
3     39.010550
4     34.822079
..          ...
94    26.197852
95    42.727410
96    33.731470
97    37.238591
98    36.339841

[99 rows x 1 columns]

In [10]:
N=data.shape[0]

In [13]:
data.mean().values

array([34.49488818])

In [ ]:
def z(mu,)