<a href="https://colab.research.google.com/github/amir1913/PUS2022_AMeydani/blob/main/labs/Titanidemo.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [7]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [8]:
cd /content/drive//My\ Drive

/content/drive/My Drive

In [9]:
ls kag*

kaggle.json

In [10]:
!chmod 600 kaggle.json

In [11]:
import json
envs = json.load(open("kaggle.json", "r"))

In [12]:
import os
os.environ["KAGGLE_USERNAME"] = envs['username']
os.environ["KAGGLE_KEY"] = envs['key']

In [13]:
!pip install kaggle

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: kaggle in /usr/local/lib/python3.7/dist-packages (1.5.12)
Requirement already satisfied: certifi in /usr/local/lib/python3.7/dist-packages (from kaggle) (2022.9.24)
Requirement already satisfied: python-slugify in /usr/local/lib/python3.7/dist-packages (from kaggle) (6.1.2)
Requirement already satisfied: urllib3 in /usr/local/lib/python3.7/dist-packages (from kaggle) (1.24.3)
Requirement already satisfied: python-dateutil in /usr/local/lib/python3.7/dist-packages (from kaggle) (2.8.2)
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from kaggle) (2.23.0)
Requirement already satisfied: tqdm in /usr/local/lib/python3.7/dist-packages (from kaggle) (4.64.1)
Requirement already satisfied: six>=1.10 in /usr/local/lib/python3.7/dist-packages (from kaggle) (1.15.0)
Requirement already satisfied: text-unidecode>=1.3 in /usr/local/lib/python3.7/dist-packages (from python-slugify->kaggle) (1.3)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->kaggle) (3.0.4)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->kaggle) (2.10)

In [14]:
!kaggle datasets list

ref                                                             title                                       size  lastUpdated          downloadCount  voteCount  usabilityRating
--------------------------------------------------------------  -----------------------------------------  -----  -------------------  -------------  ---------  ---------------
akshaydattatraykhare/diabetes-dataset                           Diabetes Dataset                             9KB  2022-10-06 08:55:25          12877        409  1.0
whenamancodes/covid-19-coronavirus-pandemic-dataset             COVID -19 Coronavirus Pandemic Dataset      11KB  2022-09-30 04:05:11          10198        317  1.0
thedevastator/240000-household-electricity-consumption-records  Household Electricity Consumption            3MB  2022-10-24 01:22:40            850         27  1.0
akshaydattatraykhare/data-for-admission-in-the-university       Data for Admission in the University         4KB  2022-10-27 11:05:45           2641         61  1.0
whenamancodes/credit-card-customers-prediction                  Credit Card Customers Prediction           379KB  2022-10-30 13:03:27           1978         49  1.0
thedevastator/latest-licensed-playstation-games-in-japan        PlayStation Games                           53KB  2022-11-09 02:51:20            437         25  0.9411765
hasibalmuzdadid/global-air-pollution-dataset                    Global Air Pollution Dataset               371KB  2022-11-08 14:43:32           1505         52  1.0
whenamancodes/world-happiness-report                            He..He..He... World Happiness Report 2022  120KB  2022-10-26 09:28:48            668         26  1.0
maharshipandya/-spotify-tracks-dataset                          ðŸŽ¹ Spotify Tracks Dataset                     8MB  2022-10-22 14:40:15           2698         84  1.0
whenamancodes/students-performance-in-exams                     Students Performance in Exams                9KB  2022-09-14 15:14:54          17111        319  1.0
whenamancodes/predict-diabities                                 Predict Diabetes                             9KB  2022-11-09 12:18:49            978         29  1.0
iamsouravbanerjee/game-of-thrones-dataset                       Game of Thrones Dataset                     33KB  2022-11-10 11:41:21            255         26  1.0
jalota/books-dataset                                            Books_dataset                              537KB  2022-11-02 21:02:48            737         22  1.0
stetsondone/video-game-sales-by-genre                           Video Game Sales by Genre                   12KB  2022-10-31 17:56:01           1133         28  1.0
marta99/elon-musks-tweets-dataset-2022                          Elon Musk's Tweets Dataset 2022            293KB  2022-10-27 19:10:46            456         26  1.0
akshaydattatraykhare/car-details-dataset                        Car Details Dataset                         56KB  2022-10-21 06:11:56           3097         52  1.0
cedricaubin/ai-ml-salaries                                      AI/ML Salaries                              11KB  2022-11-06 11:20:31            413         23  1.0
thedevastator/predicting-job-titles-from-resumes                Predicting Job Titles from Resumes          40KB  2022-11-05 10:23:35            629         26  1.0
rishikeshkonapure/zomato                                        Zomato                                      89MB  2022-10-29 06:56:33            740         32  1.0
maharshipandya/-cryptocurrency-historical-prices-dataset        ðŸª™ Cryptocurrency Prices Data                 3MB  2022-10-26 05:28:27            765         28  0.9411765

In [15]:
!mkdir TitanicKaggleData

In [16]:
cd TitanicKaggleData

/content/drive/MyDrive/TitanicKaggleData

In [17]:
!kaggle competitions download -c titanic

Downloading titanic.zip to /content/drive/MyDrive/TitanicKaggleData
  0% 0.00/34.1k [00:00<?, ?B/s]
100% 34.1k/34.1k [00:00<00:00, 6.59MB/s]

In [18]:
ls

titanic.zip

In [19]:
!unzip titanic.zip

Archive:  titanic.zip
  inflating: gender_submission.csv
  inflating: test.csv
  inflating: train.csv

In [20]:
import pandas as pd
titanic = pd.read_csv("train.csv")[["Survived", "Pclass", "Age", "Sex"]]
titanic.shape

(891, 4)

In [21]:
titanic

     Survived  Pclass   Age     Sex
0           0       3  22.0    male
1           1       1  38.0  female
2           1       3  26.0  female
3           1       1  35.0  female
4           0       3  35.0    male
..        ...     ...   ...     ...
886         0       2  27.0    male
887         1       1  19.0  female
888         0       3   NaN  female
889         1       1  26.0    male
890         0       3  32.0    male

[891 rows x 4 columns]

In [22]:
titanic["gender"] = titanic["Sex"].map({"male":0, "female":1})
titanic.drop("Sex", axis=1, inplace=True)

In [23]:
titanic

     Survived  Pclass   Age  gender
0           0       3  22.0       0
1           1       1  38.0       1
2           1       3  26.0       1
3           1       1  35.0       1
4           0       3  35.0       0
..        ...     ...   ...     ...
886         0       2  27.0       0
887         1       1  19.0       1
888         0       3   NaN       1
889         1       1  26.0       0
890         0       3  32.0       0

[891 rows x 4 columns]

In [24]:
titanic.dropna(how="any", axis=0, inplace=True)

In [25]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(titanic[["Pclass",	"Age",	
                                                             "gender"]].values, 
                                                    titanic["Survived"].values, 
                 train_size=0.75, random_state=123)
X_train.shape, X_test.shape, y_train.shape, y_test.shape

((535, 3), (179, 3), (535,), (179,))

In [26]:
from sklearn import tree
clf = tree.DecisionTreeClassifier(max_depth=3, random_state=222)
clf.fit(X_train, y_train)
clf.score(X_train, y_train)

0.8074766355140187

In [27]:
clf.score(X_test, y_test)

0.7597765363128491